<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>
	<div th:fragment="page-footer">
		<footer class="flex-container">
			
			<a href="mailto:elixirhooch@gmail.com"><div class="fa fa-envelope"></div> elixirhooch@gmail.com</a>
			<a href="tel:647-494-2192"><div class="fa fa-phone"></div> Call Us</a>
			<a href="sms:647-494-2192"><div class="fa fa-commenting"></div> Text Us</a>
			<a class="link" href="/privacy">Privacy Policy</a>
		</footer>
	</div>
</body>
</html>