<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="https://lh3.googleusercontent.com/d/1Lbln3FzkHKtoIATFl2yD7H4kKq9alBjj">
<meta property="og:title" content="Concierge Kart">
<meta property="og:type" content="website">
<meta property="og:url" content="https://concierge-kart.com">
<link rel="icon" type="img/png" sizes="50x50" href="/img/favicon.png">
<title>Contact Us</title>

</head>
 <script src="https://www.google.com/recaptcha/api.js"></script>

</script>
  <script>
  var canSubmit = false;
  var verifyCallback = function(response) {
	canSubmit = response ? true : false
    };
  var onloadCallback = function() {
	    grecaptcha.render('captcha', {
	          'sitekey' : '6LcAf_8fAAAAAHYblNhrcOzU-l7iBw6s9W3K4FMS',
	          'callback' : verifyCallback,
	          'theme' : 'dark'
	        });
	  };
	function submitForm(){
		return canSubmit;
	}
 </script>
<body>
	<div th:insert="fragments/header.html :: page-header"></div>
	
	<div th:insert="fragments/nav.html :: page-nav"></div>
	
	<section>
		<div class="back">
			<a href="/" >Browse</a><div class="fa fa-chevron-right"></div><a>Contact Us</a>
		</div>
		<div th:if="${message}" class="error" align="center">
			<h2 th:text="${message}"></h2>
		</div>
		<div class ="contactus">
			<form method ="post" action="contactus" onsubmit="return submitForm()" style="max-width:450px;">
				<h2>Contact Us</h2>
				<input type="text" name="name" placeholder="Enter Name" required>
				<input type="text" name="email" placeholder="Enter Email" required>
				<textarea name="message" placeholder="Enter Message" required></textarea>
				<div style="margin-left:auto; margin-right:auto; width:200px;" id="captcha"></div>
				<input type="submit" value="Submit">
			</form>
			<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
		        async defer>
		    </script>
		</div>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>