<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="https://lh3.googleusercontent.com/d/1Lbln3FzkHKtoIATFl2yD7H4kKq9alBjj">
<meta property="og:title" content="Concierge Kart">
<meta property="og:type" content="website">
<meta property="og:url" content="https://concierge-kart.com">
<link rel="icon" type="img/png" sizes="50x50" href="/img/favicon.png">
<title>Register</title>

</head>

<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	
	<div th:insert="fragments/nav.html :: page-nav"></div>
	
	<section class ="flex-container" style="justify-content: center; flex-flow: column;">
		
		<h2>Privacy Policy for Concierge Kart</h2>

		<p>At Concierge Kart, accessible from www.concierge-kart.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Concierge Kart and how we use it.</p>
		
		<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
		
		<h1>Log Files</h1>
		
		<p>Concierge Kart follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the <a style="padding:0;"href="https://www.privacypolicyonline.com/privacy-policy-generator/">Privacy Policy Generator</a> and the <a style="padding:0;" href="https://www.generateprivacypolicy.com">Privacy Policy Generator</a></p>
		
		<h1>Cookies and Web Beacons</h1>
		
		<p>Like any other website, Concierge Kart uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
		
		<p>For more general information on cookies, please read the "What Are Cookies" article on:  </p><h2><a href="https://www.privacypolicyonline.com/what-are-cookies/">Cookie Consent website</a></h2>.
		
		
		
		<h1>Privacy Policies</h1>
		
		<P>You may consult this list to find the Privacy Policy for each of the advertising partners of Concierge Kart.</p>
		
		<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Concierge Kart, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
		
		<p>Note that Concierge Kart has no access to or control over these cookies that are used by third-party advertisers.</p>
		
		<h1>Third Party Privacy Policies</h1>
		
		<p>Concierge Kart's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
		
		<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
		
		<h1>Children's Information</h1>
		
		<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
		
		<p>Concierge Kart does not knowingly collect any Personal Identifiable Information from minors. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
		
		<h1>Online Privacy Policy Only</h1>
		
		<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Concierge Kart. This policy is not applicable to any information collected offline or via channels other than this website.</p>
		
		<h1>Consent</h2>
		
		<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>